{% extends "../base/base.html" %}
{%load static%}
{% load humanize %}
{%block content%}
{%include '../base/nav_bar.html'%}
<ul>{{object.title}}
    <li>{{object.date|naturaltime}}</li>
    <li><img src="{{object.image.url}}" alt="image"></li>
    <li>
        <tr>
            <th scope="row">Category : </th>
            <td><a href="/category/{{object.category}}">{{object.category}}</a></td>
        </tr>
    </li>
    <tr>
        <th scope="row">Tags :</th>
        {% for tag in object.tags.all %}
        <p><a href="{% url 'posts_by_tag' tag.slug %}"><span class="badge badge-pill badge-success">{{tag}}</span></a></p>
        {%endfor%}
    </tr>
    
    <li> {{object.post_views}}</li>
    <div class="rw-ui-container"></div>
    <li>
        <div>
            {{object.body}}
        </div>
    </li>
</ul>
<div class="list-group">
    {% for post in post_related %}
    <a href="{{ post.get_absolute_url }}" class="list-group-item list-group-item-action active">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{post.title}}</h5>
        <small>{{post.date|naturaltime}}</small>
      </div>
      <p class="mb-1">{{post.body}}</p>
      <small><a href="/category/{{post.category}}">{{post.category}}</a></small>
      <ul>Tags :
        {% for tag in post.tags.all %}
        <li><a href="{% url 'posts_by_tag' tag.slug %}">{{tag}}</a></li>
        {%endfor%}
      </ul>
    </a>
  </div>
  {%endfor%}
{%if previous_post%}
<button class="btn btn-success"><a href="{{STATIC_URL}}/{{previous_post.slug}}" > previous</a></button>
{%else%}
<button class="btn btn-success"><a href="{% url 'home'%}">home</a></button>
{%endif%}
{%if next_post%}
<button class="btn btn-success"><a href="{{STATIC_URL}}/{{next_post.slug}}" >Next >></a></button>
{%else%}
<button class="btn btn-success"><a href="{% url 'home'%}">home</a></button>
{%endif%}
    <div class="fb-comments" data-href="{{request.build_absolute_uri}}" data-width="" data-numposts="5"></div>

<script type="text/javascript">(function(d, t, e, m){
    
    // Async Rating-Widget initialization.
    window.RW_Async_Init = function(){
                
        RW.init({
            huid: "475964",
            uid: "aecb1349dbe031f1826fcf4784e7cc6b",
            source: "website",
            options: {
                "advanced": {
                    "layout": {
                        "align": {
                            "hor": "center",
                            "ver": "top"
                        }
                    },
                    "font": {
                        "hover": {
                            "color": "#906461"
                        },
                        "color": "#906461"
                    }
                },
                "size": "medium",
                "boost": {
                    "rate": 4
                },
                "label": {
                    "background": "#FFEDA4"
                },
                "style": "darkglass",
                "isDummy": false
            } 
        });
        RW.render();
    };
        // Append Rating-Widget JavaScript library.
    var rw, s = d.getElementsByTagName(e)[0], id = "rw-js",
        l = d.location, ck = "Y" + t.getFullYear() + 
        "M" + t.getMonth() + "D" + t.getDate(), p = l.protocol,
        f = ((l.search.indexOf("DBG=") > -1) ? "" : ".min"),
        a = ("https:" == p ? "secure." + m + "js/" : "js." + m);
    if (d.getElementById(id)) return;              
    rw = d.createElement(e);
    rw.id = id; rw.async = true; rw.type = "text/javascript";
    rw.src = p + "//" + a + "external" + f + ".js?ck=" + ck;
    s.parentNode.insertBefore(rw, s);
    }(document, new Date(), "script", "rating-widget.com/"));</script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v10.0" nonce="Zrb6LHq7"></script>
{%endblock%}